{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "refresher.zip",
            "label": "Refresher.zip"
          },
          {
            "path": "coverage.zip",
            "label": "Coverage data"
          }
        ]
      }
    ]
  ],
  "branches": [
    "main"
  ]
}
